.Home {
  background: tomato;
  position: relative;
  display: flex;
  justify-content: center;
}

.screenContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;
}

.redBar {
  left: 0;
  max-width: calc((425px - 300px)/2);
  width: calc((425px - 300px)/2);
  position: absolute;
  z-index: 100;
  height: 450px;
  background: tomato;
}

@media screen and (max-width: 425px) {
  .redBar {
    width: 65px;
  }
}

@media screen and (max-width: 375px) {
  .redBar {
    width: 38px;
  }
}

@media screen and (max-width: 320px) {
  .redBar {
    width: 10px;
  }
}

.bymaar {
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: lightgray;
}
